*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --background-color: #85A5D4;
    --main-color: #5572D6;
}
body{
    background-color: var(--background-color);
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}
h3, h4{
    font-weight: 700;
    font-size: 20px;
    color: var(--main-color);
    text-align: center;
    margin-top: 20px;
}
.device{
    width: 850px;
    height: 310px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2); 
}
.wrapper{
    padding-top: 20px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    
}
.box{
    width: 260px;
    height: 270px;
    margin-right: 20px;
}
.box:hover{
   background-color: rgb(224, 222, 222);
}
p{
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    opacity: 50%;
    margin-top: 10px;
}
.img{
    width: 80px;
    height: 100px;
}
.phone{
    margin-left: 90px;
}
.laptop{
    margin-left: 85px;
}
.monitor{
    margin-left: 88px;
}
